#yearsId {
    background : transparent;
    min-width:1000px ;
    /*padding-top: 40px;*/
    padding-bottom: 1%;
}

.yearTextBoxId{

    /*background : white;*/
    background:rgba(255,255,255, 0.7);
    margin-left: 200px;
    margin-right: 200px;

    /*opacity: 0.5;*/
    position:relative;

}

#textBoxBorder{
    min-width: 1000px;
    border-style: groove;

}

#textBoxContent{
    margin: 10px 50px 10px 50px


}


.infoText{
    color: black;
    /*opacity: 1 !important;*/
    font-size: 20px;

}