section {
    padding    : 80px 0;
    /*box-sizing : border-box;*/
}

.container {
    position   : relative;
    width      : 80%;
    height 		 : 100%;
    margin     : 0 auto;
    text-align : center;
}

button {
    /*display				: block;*/
    /*display				: inline-block;*/

    /*position       : relative;*/
    /*padding        : 25px 0;*/
    /*margin         : 25px auto;*/
    /*font-family 	 : sans-serif;*/
    /*font-size      : 14px;*/
    /*font-weight    : bold;*/
    /*text-transform : uppercase;*/
    /*text-align		 : center;*/
    /*color          : white;*/
    /*letter-spacing : 1px;*/
    /*border         : none;*/
    /*cursor         : pointer;*/
    /*width          : 270px;*/
    /*outline		     : none;*/
    /*overflow			 : hidden;*/
    /*box-sizing 				 : border-box;*/
    /*-moz-box-sizing		 : border-box;*/
    /*-webkit-box-sizing : border-box;*/

}

#sec1 {
    background : transparent;
    padding-top: 40px;
}

.btn {
    overflow         : hidden;
    background-color : transparent;
    border           : 3px solid white;
    transition       : all 0.3s ease;

    display				: inline-block;

    position       : relative;
    padding        : 25px 0;
    margin         : 25px auto;
    font-family 	 : sans-serif;
    font-size      : 14px;
    font-weight    : bold;
    text-transform : uppercase;
    text-align		 : center;
    color          : white;
    letter-spacing : 1px;
    /*border         : none;*/
    cursor         : pointer;
    width          : 270px;
    outline		     : none;
    overflow			 : hidden;
    box-sizing 				 : border-box;
    -moz-box-sizing		 : border-box;
    -webkit-box-sizing : border-box;
}
.btn:hover {
    background-color : white;
    /*color            : #0E83CD;*/
    color            : black;

}
.btn:active {
    transform: scale(1.1)
}

#buttonHim{
    margin-right: 15px;
}
#buttonHer{
    margin-left: 15px;
}
